body{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;

}
h1
{
    font-size: 50px;
}
.color
{
    color: orange;
}
.flexible-container
{
    display: flex;
    margin-bottom: 150px;
}
.half-width
{
    width: 50%;
    padding-left: 5%;
}
.half-width img
{
    width: 80%;
}
.link-button
{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 15px;
    font-weight: 700;
    border-radius: 30px;
    color: whitesmoke;
}
.top-banner
{
    background-image: url(file:///Users/rayhanchowdhury/Downloads/developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
.mentor
{
    background-image: url(file:///Users/rayhanchowdhury/Downloads/developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.developer
{
    width: 40%;
    margin-left: 5%;
    margin-right: 8%;
    padding-left: 3%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
}
h2
{
    font-size: 40px;
}
.experience-area
{
    background-image: url(file:///Users/rayhanchowdhury/Downloads/developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
}
#full
{
    border-left: 7px solid rgb(169, 7, 7);
}
#entry
{
    border-left: 7px solid rgb(47, 8, 86);
}
footer p
{
    text-align: center;
}